/* Default CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body{
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
  }
  
  h1, h2{
    margin: 0;
    padding: 0;
    line-height: normal;
  
  }
  
  p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
  }
  
  input:focus, textarea:focus, select:focus {
    outline: none;
  }
  
  @media (min-width:1700px) {
      main .container {
          max-width: 100%;
          padding: 0 150px;
      }
  }
  
  p.success {
      color: green;
  }
  
  p.danger {
      color: red;
  }

  /*Header*/
  header {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top */
    height: auto; 
    padding: 20px 0;
    text-align: center;
}

/* Navbar Styles */
nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
    background-color: #333; 
  }
  
  nav.navbar a.navbar-brand {
      font-size: 1.5rem;
      color: #fff; 
      text-decoration: none;
      font-weight: bold;
  }
  
  nav.navbar .navbar-nav .nav-link {
    font-weight: 400;
    color: #fff; 
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75; /* Slightly faded */
    transition: color 0.3s, opacity 0.3s; /* Smooth transition for hover and active */
  }
  
  nav.navbar .navbar-nav .nav-link:hover,
  nav.navbar .navbar-nav .nav-link.active {
    color: #f8f8f8; 
    opacity: 1; 
  }
  
  /* Optional Navbar Scrolling Effect */
  nav.navbar.scrolled {
    padding: 10px 0;
    background-color: #121212;
  }
  

/*Why jacked*/
  /* Specific for the JACKED section */
#jacked {
    padding: 60px; /* Optional padding for better spacing inside the section */
    text-align: center; /* Optional: Center-align text */
}


/*********Workouts********/



/*********Footer********/
footer {
    position: fixed; /* Sticks the footer in a fixed position relative to the viewport */
    bottom: 0;       /* Aligns it to the bottom */
    right: 0;        /* Aligns it to the right */
    padding: 10px;   /* Optional: Adds some padding around the text */
    text-align: right; /* Aligns the text to the right */
}