/* Default CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body{
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
  }
  
  h1, h2{
    margin: 0;
    padding: 0;
    line-height: normal;
  
  }
  
  p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
  }
  
  input:focus, textarea:focus, select:focus {
    outline: none;
  }
  
  @media (min-width:1700px) {
      main .container {
          max-width: 100%;
          padding: 0 150px;
      }
  }
  
  p.success {
      color: green;
  }
  
  p.danger {
      color: red;
  }

  /*Header*/
  header {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align to the top */
    height: auto; 
    padding: 20px 0;
    text-align: center;
}

/* Navbar Styles */
nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav.navbar a.nav-link {
    color: #fff;
    font-size: 18px;
    padding: 0 25px;
    text-decoration: none;
    opacity: 0.75;
    transition: color 0.3s, opacity 0.3s, text-shadow 0.3s;
}

nav.navbar a.nav-link:hover,
nav.navbar a.nav-link.active {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255,255,255,0.8); /* Glow effect */
}

  
  /* Optional Navbar Scrolling Effect */
  nav.navbar.scrolled {
    padding: 10px 0;
    background-color: #121212;
  }
  

/*Why jacked*/
  /* Specific for the JACKED section */
#jacked {
    padding: 60px; 
    text-align: center; 
}


/*********Workouts********/



/*********Footer********/
footer {
    position: fixed; /* Sticks the footer in a fixed position relative to the viewport */
    bottom: 0;       /* Aligns it to the bottom */
    right: 0;        /* Aligns it to the right */
    padding: 10px;   /* Optional: Adds some padding around the text */
    text-align: right; /* Aligns the text to the right */
}